<% was_validated = professor.errors.any? %>

<%= form_with(model: professor, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = professor.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% professor.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% profile_url_class = "form-control" %>
    <% profile_url_was_invalid = professor.errors.include?(:profile_url) %>

    <% if was_validated %>
      <% if profile_url_was_invalid %>
        <% profile_url_class << " is-invalid" %>
      <% else %>
        <% profile_url_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :profile_url %>
    <%= f.text_field :profile_url, class: profile_url_class, placeholder: "Enter profile url" %>
    <% if profile_url_was_invalid %>
      <% professor.errors.full_messages_for(:profile_url).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
