<%= form_with(model: @session, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :course_id %>

    <%= f.collection_select :course_id, Course.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :professor_id, value: @professor.id %>

  <%= f.submit "Create session", class: "btn btn-block btn-outline-secondary" %>
<% end %>
