<%= form_with(model: @session, local: true) do |f| %>

  <%= f.hidden_field :course_id, value: @course.id %>

  <div class="form-group">
    <%= f.label :professor_id %>

    <%= f.collection_select :professor_id, Professor.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create session", class: "btn btn-block btn-outline-secondary" %>
<% end %>
