<!-- Form comment start -->
<%= form_with(model: @comment, local: true) do |f| %>
<!-- Form comment end -->

  <!-- Label and input for post_id start -->
  <!-- Input for post_id start -->
  <%= f.hidden_field :post_id, value: @post.id %>
  <!-- Input for post_id end -->
  <!-- Label and input for post_id end -->

  <!-- Label and input for commenter_id start -->
  <div class="form-group">
    <%= f.label :commenter_id %>

    <!-- Input for commenter_id start -->
    <%= f.collection_select :commenter_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for commenter_id end -->
  </div>
  <!-- Label and input for commenter_id end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <%= f.label :description %>

    <!-- Input for description start -->
    <%= f.text_field :description, class: "form-control" %>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
